.navbar{
    position: absolute;
    display:flex;
    width: 100%;
    text-align: center;
}

.logo{
    padding-left: 20px;
}

.glitchEff{
    position: relative;
    width: 100%;
    background: url('b. images/SecretIGO.png') 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
}

#pixel {
    position: absolute;
    width: 3vw;
    height: 3vw;
    background-color: rgb(0, 0, 255);
    z-index: 10;
    /* animation: shake 2s 3; */ 
    /* understanding that shake is my animation name, will run for a duration of 2s, and will occur 3 times */
}

.box{
    position: absolute;
    background-color: red;
}

.box0{
    position: absolute;
    background-color: #FFF;
}

.box1{
    position: absolute;
    background-color: rgb(0, 0, 255);
}

.box2{
    position: absolute;
    background-color: #00ff15;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}