.navbar{
    position: absolute;
    display:flex;
    width: 100%;
    text-align: center;
}

.logo{
    padding-left: 20px;
}

.glitchEff{
    position: relative;
    width: 100%;
    background: url('b. images/SecretIGO.png') 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
}

#pixel {
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 25%;
}